/* === fonts === */

@font-face {
    /* Arvo → https://fonts.google.com/specimen/Arvo */
    font-family: "Arvo";
    src: url("../../fonts/arvo/Arvo-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* Arvo → https://fonts.google.com/specimen/Arvo */
    font-family: "Arvo";
    src: url("../../fonts/arvo/Arvo-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

/* === palette === */

:root {
    --font: "Arvo", monospace;
	--font-color: #161616;
}

/* === main styling === */

html {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    text-align: center;
    height: 100vh; /* for previously cut background on mobile */
}

body {
    font-family: var(--font);
    color: var(--font-color);
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: var(--font-color);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: underline;
}

.topnav .icon {
    display: none;
}

#icon-bulb {
    width: 115px;
    height: 115px;
    margin-bottom: 2.5%;
}

/* === styling for different categories === */

.text-try {
	font-size: 1.0rem;
	font-weight: normal;
	margin-bottom: 5%;
  }

#intro {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 5%;
}

#script_output {
    font-size: 2rem;
    font-weight: bold;
    /* line-height: 1.2 !important; */
    margin: auto;
    margin-bottom: 5%;
    width: 65%;
}

.what_not {
	font-size: 1.5rem;
}

.what_yes {
	font-size: 1.8rem;
	font-weight: bold;
	border-bottom: 1px solid #000;
	line-height: 1.5;
}

.more_text {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.75;
}

.who_said {
	font-size: 1.2rem;
	font-weight: 100;
	font-style: italic;
}

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.remotely {
    margin-top: 5% !important;
}

/* === RWD === */

/* For devices larger than 400px */
@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
    .container {
        width: 80%;
    }

    .column,
    .columns {
        margin-left: 4%;
    }

    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }

    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }

    .two.columns {
        width: 13.3333333333%;
    }

    .three.columns {
        width: 22%;
    }

    .four.columns {
        width: 30.6666666667%;
    }

    .five.columns {
        width: 39.3333333333%;
    }

    .six.columns {
        width: 48%;
    }

    .seven.columns {
        width: 56.6666666667%;
    }

    .eight.columns {
        width: 65.3333333333%;
    }

    .nine.columns {
        width: 74%;
    }

    .ten.columns {
        width: 82.6666666667%;
    }

    .eleven.columns {
        width: 91.3333333333%;
    }

    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }

    .one-third.column {
        width: 30.6666666667%;
    }

    .two-thirds.column {
        width: 65.3333333333%;
    }

    .one-half.column {
        width: 48%;
    }

    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns {
        margin-left: 8.66666666667%;
    }

    .offset-by-two.column,
    .offset-by-two.columns {
        margin-left: 17.3333333333%;
    }

    .offset-by-three.column,
    .offset-by-three.columns {
        margin-left: 26%;
    }

    .offset-by-four.column,
    .offset-by-four.columns {
        margin-left: 34.6666666667%;
    }

    .offset-by-five.column,
    .offset-by-five.columns {
        margin-left: 43.3333333333%;
    }

    .offset-by-six.column,
    .offset-by-six.columns {
        margin-left: 52%;
    }

    .offset-by-seven.column,
    .offset-by-seven.columns {
        margin-left: 60.6666666667%;
    }

    .offset-by-eight.column,
    .offset-by-eight.columns {
        margin-left: 69.3333333333%;
    }

    .offset-by-nine.column,
    .offset-by-nine.columns {
        margin-left: 78%;
    }

    .offset-by-ten.column,
    .offset-by-ten.columns {
        margin-left: 86.6666666667%;
    }

    .offset-by-eleven.column,
    .offset-by-eleven.columns {
        margin-left: 95.3333333333%;
    }

    .offset-by-one-third.column,
    .offset-by-one-third.columns {
        margin-left: 34.6666666667%;
    }

    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns {
        margin-left: 69.3333333333%;
    }

    .offset-by-one-half.column,
    .offset-by-one-half.columns {
        margin-left: 52%;
    }
}

/* Smaller than mobile */
@media (max-width: 450px) {
    .topnav {
        visibility: hidden;
	}
	
	.container {
		margin-top: 15%;
	}

    #intro,
    .more_text {
        font-size: 0.8rem;
	}
	
	.what_not {
		font-size: 1.1rem;
	}
	
	.what_yes {
		font-size: 1.4rem;
	}

    #script_output {
        font-size: 1.2rem;
        width: 100%;
    }
}

/* === adjusting icon on different screen sizes === */

/* Small mobile phone, eg iPhone 4 */
/* @media (max-width: 320px) and (max-height: 480px) {
	#icon-bulb {
		height: 75px;
		width: 75px;
		margin-top: 10% !important; /* NOTE: doesn't work without "important" */
	/* } */
/* } */ 

/* Mobile phone, eg SGS5, iPhones */
@media (min-width: 300px) and (max-width: 450px) {
	#icon-bulb {
		margin-top: 10%;
	}
}

/* Should cover both iPad and iPad Pro */
@media (min-width: 450px) and (max-width: 1025px) and (min-height: 1000px) {
	#icon-bulb {
		margin-top: 35% !important;
	}
}

/* Browser at horizontally 1/3 size on laptop */
@media (min-width: 500px) and (max-width: 600px) {
	#icon-bulb {
		margin-top: 30%;
	}
}

/* My usual browser size on laptop */
@media screen and (min-height: 400px) and (max-height: 650px) and (min-width: 800px) {
	#icon-bulb {
		margin-top: 5% !important; /* FIX: messes up with 1366x632 */
	}
}

/* Computer w/ Full HD screen & MacBook Pro */
@media (min-width: 1600px) {
	#icon-bulb {
		margin-top: 20%;
	}
}

/* Computer w/ Full HD screen - half size */
@media (min-width: 800px) and (min-height: 950px) {
	#icon-bulb {
		margin-top: 10% !important;
	}
}